<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    
<link rel="icon" href="{{ site.baseurl }}/assets/images/noob-favicon.png">
    
<title>{{ page.title }} | {{site.name}}</title>
    
{% if page.description %}<meta name="description" content="{{ page.description }}">{% endif %} 
    
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.13/css/all.css" integrity="sha384-DNOHZ68U8hZfKXOrtjWvjxusGo9WQnrNx2sqG0tfsghAvtVlRW3tvkXWZh58N9jp" crossorigin="anonymous">
    
<link href="https://fonts.googleapis.com/css?family=Righteous%7CMerriweather:300,300i,400,400i,700,700i" rel="stylesheet">
    
<link href="{{ site.baseurl }}/assets/css/screen.css" rel="stylesheet">
    
<link href="{{ site.baseurl }}/assets/css/main.css" rel="stylesheet">

<script type="text/javascript">if (location.protocol !== 'https:') location.href = 'https:' + window.location.href.substring(window.location.protocol.length);</script>
</head>
    
{% capture layout %}{% if page.layout %}layout-{{ page.layout }}{% endif %}{% endcapture %}
<body class="{{ layout }}">

    
<!-- Begin Menu Navigation
================================================== -->
<nav class="navbar navbar-expand-lg navbar-light bg-white fixed-top mediumnavigation nav-down">
    
    <div class="container pr-0">    
    
    <!-- Begin Logo -->
    <a class="navbar-brand" href="{{ site.baseurl }}/">
    <img src="{{ site.baseurl }}/{{ site.logo }}" alt="{{ site.name }}">
    </a>
    <!-- End Logo -->
  
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarMediumish" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
    </button>
    
    
    <div class="collapse navbar-collapse" id="navbarMediumish">
       
        <!-- Begin Menu -->
        
            <ul class="navbar-nav ml-auto">

                {% if page.url == "/about.html" %}
                <li class="nav-item active">
                {% else %}
                <li class="nav-item">
                {% endif %}
                <a class="nav-link" href="{{ site.baseurl }}/about">About</a>
                </li>
                
                <li class="nav-item">
                <a target="_blank" class="nav-link" href="https://www.facebook.com/noobsec.org/"><i class="fab fa-facebook-f"></i> Facebook</a>
                </li>
                
                <li class="nav-item">
                <a target="_blank" class="nav-link" href="https://twitter.com/noobsec_org"><i class="fab fa-twitter"></i> Twitter</a>
                </li>
                
            </ul>		
  
        <!-- End Menu -->

    </div>
        
    </div>
</nav>
<!-- End Navigation
================================================== -->
    
<div class="site-content">   
<div class="container">
    
<!-- Site Title
================================================== -->
<div class="mainheading">
    <h1 class="sitetitle">{{ site.name }}</h1>
    <p class="lead">
         {{ site.description }}
    </p>
</div>

    
    
<!-- Content
================================================== --> 
<div class="main-content">
    {{ content }}
</div>

<!-- Bottom Alert Bar
================================================== -->
<!-- <div class="alertbar">
	<div class="container text-center">
		<span><img src="{{ site.baseurl }}/{{ site.logo }}" alt="{{site.title}}"> &nbsp; Never miss a <b>story</b> from us, subscribe to our newsletter</span>
        <form action="{{site.mailchimp-list}}" method="post" name="mc-embedded-subscribe-form" class="wj-contact-form validate" target="_blank" novalidate>
            <div class="mc-field-group">
            <input type="email" placeholder="Email" name="EMAIL" class="required email" id="mce-EMAIL" autocomplete="on" required>
            <input type="submit" value="Subscribe" name="subscribe" class="heart">
            </div>
        </form>
	</div>
</div> -->    
    
</div><!-- /.container>
    
<!-- Categories Jumbotron
================================================== -->
<div class="jumbotron fortags">
	<div class="d-md-flex h-100">
		<div class="col-md-4 transpdark align-self-center text-center h-100">
            <div class="d-md-flex align-items-center justify-content-center h-100">
                <h2 class="d-md-block align-self-center py-1 font-weight-light">Explore <span class="d-none d-md-inline">→</span></h2>
            </div>
		</div>
		<div class="col-md-8 p-5 align-self-center text-center">
          {% assign tags_list = site.categories %}  
          {% if tags_list.first[0] == null %}
            {% for tag in tags_list %} 
              <a href="{{ site.baseurl }}/category/{{ tag }}">{{ tag | capitalize }} {{ site.tags[tag].size }}</a>
            {% endfor %}
          {% else %}
            {% for tag in tags_list %} 
              <a href="{{ site.baseurl }}/category/{{ tag[0] }}">{{ tag[0] | capitalize }} ({{ tag[1].size }})</a>
            {% endfor %}
          {% endif %}
        {% assign tags_list = nil %}

		</div>
	</div>
</div>
 


<!-- Begin Footer
================================================== -->
<footer class="footer">
    <div class="container">
        <div class="row">
            <div class="col-md-6 col-sm-6 text-center text-lg-left">
                 Copyright © {{ site.time | date: "%Y" }} {{ site.name }} 
            </div>
            <div class="col-md-6 col-sm-6 text-center text-lg-right">    
                <a target="_blank" href="https://www.wowthemes.net">Mediumish Theme</a> by WowThemes.net &amp; retouch by <a href="https://dw1.co" target="_blank">dw1</a>
            </div>
        </div>
    </div>
</footer>
<!-- End Footer
================================================== -->

   
</div> <!-- /.site-content>

<!-- Bootstrap core JavaScript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
    
<script src="{{ site.baseurl }}/assets/js/jquery.min.js"></script>
    
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
    
<script src="{{ site.baseurl }}/assets/js/ie10-viewport-bug-workaround.js"></script>
    
<script src="{{ site.baseurl }}/assets/js/mediumish.js"></script>
    
<script id="dsq-count-scr" src="//{{site.disqus}}.disqus.com/count.js"></script>
</body>
</html>
